.booking-section {
    margin-bottom: 100px;
}

.booking-section-small {
    @include media-breakpoint-down(lg) {
        margin-bottom: 48px;
    }
}

.booking-section-small-always {
    margin-bottom: 48px;
}
