.booking-section {
    margin-bottom: 100px;
}

.booking-section-small {
    @include media-breakpoint-down(lg) {
        margin-bottom: 48px;
    }
}

.booking-section-small-always {
    margin-bottom: 48px;
}

.booking-sidebar {
    position: sticky;
    top: 1rem;
    @include media-breakpoint-down(lg) {
        position: static;
    }
}
