.auth {
    &-left {
        @include media-breakpoint-down(lg) {
            background-image: url("https://cdn.pixabay.com/photo/2015/06/23/08/16/daegwallyeong-818420_1280.jpg");
        }
        &__container {
            @include media-breakpoint-down(lg) {
                background-color: rgba(255, 255, 255, 0.9);
            }
        }
    }
}
