.step5 {
    &__eyebrow {
        font-size: 14px;
    }
    &__title {
        font-size: 50px;
        line-height: 1;
        @include media-breakpoint-down(lg) {
            font-size: 40px;
        }
        @include media-breakpoint-down(md) {
            font-size: 32px;
        }
    }
    &__content {
        font-size: 19px;
        @include media-breakpoint-down(lg) {
            font-size: 16px;
        }
    }

    &__employees {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
