.step-cards {
    button {
        flex: 1;

        .row {
            flex: 1;

            > [class*="col-"] {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__card {
        transition: 0.3s ease;

        h4 {
            transition: 0.3s ease;
        }

        .bi-chevron-right {
            display: inline-block;
            transition: 0.3s ease;
        }

        &:hover {
            h4 {
                color: var(--bs-primary);
            }
            .bi-chevron-right {
                transform: translateX(3px);
            }
            .img-hover-scale img {
                transform: scale(1.05);
            }
        }

        //the image on step 1 with image and text on same row
        &__image-wrapper1 {
            min-height: 140px;
            border-radius: 8px 0 0 8px;
            @include media-breakpoint-down(sm) {
                border-radius: 8px 8px 0 0;
            }

            &__image {
                border-radius: 8px 0 0 8px;
                @include media-breakpoint-down(sm) {
                    border-radius: 8px 8px 0 0;
                }
            }
        }

        //the image on step 2 with image top and text below
        &__image-wrapper2 {
            border-radius: 8px 8px 0 0;

            &__image {
                border-radius: 8px 8px 0 0;
            }
        }
    }
}
