.margin-screen {
    margin-bottom: 80px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 40px;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: $headings-letter-spacing;
}

.text-label {
    @extend .ls-2;
    @extend .fs-6;
    @extend .text-uppercase;
    font-weight: 400;
}

.text-label-1 {
    @extend .ls-1;
    @extend .fs-6;
    @extend .text-uppercase;
    font-weight: 400;
}

td {
    font-size: 15px;
}
