.section-spacing {
    margin-bottom: 100px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 48px;
    }
}

.section-box {
    padding-top: 100px;
    padding-bottom: 100px;
    @include media-breakpoint-down(lg) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: $headings-letter-spacing;
}

.text-label-2 {
    @extend .ls-2;
    font-size: 10px;
    @extend .text-uppercase;
    font-weight: 400;
}

.text-label-1 {
    @extend .ls-1;
    font-size: 12px;
    @extend .text-uppercase;
    font-weight: 400;
}

td {
    font-size: 15px;
}

.img-hover-scale {
    overflow: hidden;

    img {
        transition: transform 0.3s ease;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover img {
        transform: scale(1.05);
    }
}

.letter-spacing-normal {
    letter-spacing: normal;
}

.background-image-main {
    background-image: url("https://cdn.pixabay.com/photo/2015/06/23/08/16/daegwallyeong-818420_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.px-12 {
    padding-right: 12px;
    padding-left: 12px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}
