$utilities: map-merge(
    $utilities,
    (
        "width": (
            property: width,
            class: w,
            values: (
                1: 0.25rem,
                2: 0.5rem,
                3: 0.75rem,
                4: 1rem,
                6: 1.5rem,
                8: 2rem,
                10: 2.5rem,
                12: 3rem,
                14: 3.5rem,
                16: 4rem,
                18: 4.5rem,
                20: 5rem,
                22: 5.5rem,
                24: 6rem,
                26: 6.5rem,
                28: 7rem,
                30: 7.5rem,
                32: 8rem,
                34: 8.5rem,
                36: 9rem,
                38: 9.5rem,
                40: 10rem,
                42: 10.5rem,
                44: 11rem,
                46: 11.5rem,
                48: 12rem,
                50: 12.5rem,
                52: 13rem,
                54: 13.5rem,
                56: 14rem,
                58: 14.5rem,
                60: 15rem,
                100: 100%,
            )
        ),
        "height": (
            property: height,
            class: h,
            values: (
                1: 0.25rem,
                2: 0.5rem,
                3: 0.75rem,
                4: 1rem,
                6: 1.5rem,
                8: 2rem,
                10: 2.5rem,
                12: 3rem,
                14: 3.5rem,
                16: 4rem,
                18: 4.5rem,
                20: 5rem,
                22: 5.5rem,
                24: 6rem,
                26: 6.5rem,
                28: 7rem,
                30: 7.5rem,
                32: 8rem,
                34: 8.5rem,
                36: 9rem,
                38: 9.5rem,
                40: 10rem,
                42: 10.5rem,
                44: 11rem,
                46: 11.5rem,
                48: 12rem,
                50: 12.5rem,
                52: 13rem,
                54: 13.5rem,
                56: 14rem,
                58: 14.5rem,
                60: 15rem,
                100: 100%,
            )
        ),
        "letter-spacing": (
            property: letter-spacing,
            class: ls,
            responsive: true,
            values: (
                05: 0.05em,
                1: 0.1em,
                2: 0.2em,
            ),
        ),
        "box-shadow": (
            property: box-shadow,
            class: box-shadow,
            values: (
                inset: 0 4px #00000008 inset
            )
        ),
        "text-decoration": (
            property: text-decoration,
            class: text-decoration,
            state: hover,
            values: (
                underline: underline
            )
        ),
        "font-size": map-merge(
            map-get($utilities, "font-size"),
            (
                values: map-merge(
                        map-get(map-get($utilities, "font-size"), "values"),
                        (
                            60: 60px,
                        )
                )
            )
        ),
        "cursor": (
            property: cursor,
            class: cursor,
            values: (
                pointer: pointer
            )
        ),
    )
);
