// bootstrap import
@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// variables
@import 'variable-overrides';

//  import styling
@import "utilities";
@import 'main';
@import 'blocks/import';
