.margin-screen {
    margin-bottom: 80px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 40px;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: $headings-letter-spacing;
}
